<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div id="add-product"
     class="flex-grow hidden p-2 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-slate-300 rounded-md flex flex-col items-start justify-center"
     th:fragment="addpopup">

    <b class="self-center">Add product</b>
    <br/>
    <form th:method="POST" action="#" th:action="@{/add/pages}" th:object="${addFormProduct}">
        <div class="flex justify-between w-full">
            <!--            <label for="add-name">Name: </label><input type="text" th:field="*{name}" name="add-name" id="add-name"-->
            <!--                                                       placeholder="Enter name..."/>-->
        </div>
        <br/>
        <div class="flex justify-between w-full">
            <!--                    <label for="add-price">Price: </label><input type="number" th:field="*{price}" name="add-price"-->
            <!--                                                                 id="add-price"-->
            <!--                                                                 placeholder="Enter price..."/>-->
        </div>
        <br/>
        <div class="self-center">
            <button type="button" onclick="addBack()"
                    class="font-semibold p-2 bg-slate-200 hover:bg-slate-400 rounded-md">Cancel
            </button>
            <button type="submit" class="font-semibold p-2 bg-slate-200 hover:bg-slate-400 rounded-md">Add</button>
        </div>
    </form>
</div>
</body>
</html>